.logo {
    height: 225px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.subtitle {
    font-style: italic;
    font-size: x-large;
    color: coral;
}

.featuredHouse {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgb(255, 190, 166);
}